<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.14.0/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./style.css">
  <title>Timer</title>
</head>
<body>
  <header></header>
  <main>
    <div id="app">
      <section class="bar">
        <div class="input">
          <el-input ref="hour" name="hour" placeholder="00" @change="initial"
           v-model="iptHour" class="ipt-hour"></el-input>
          <span>:</span>
          <el-input ref="min" name="min" placeholder="00" @change="initial"
           v-model="iptMin" class="ipt-min"></el-input>
          <span>:</span>
          <el-input ref="sec" name="sec" placeholder="00" @change="initial"
          v-model="iptSec" class="ipt-sec"></el-input>
          <div v-show="state === 'playing'" class="mask"></div>
        </div>
        <div class="buttons">
          <el-button type="success" @click="start" class="start">start</el-button>
          <el-button type="primary" @click="pause" class="pause">pause</el-button>
          <el-button type="danger"@click="reset" class="reset">reset</el-button>
        </div>
      </section>
    </div>
  </main>
  <footer></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.14.0/lib/index.js"></script>
<script src="./main.js"></script>
</html>